<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">


        <listeners>
          <listener class-name = "file_listeners.My_listener"  />
          </listeners>

  <test name="Test">
    <classes>
      <class name="file_step.register_stepdef"/>
      <class name="file_step.login_stepdef"/>
      <class name="file_step.logout_stepdef"/>
      <class name="file_step.addtocart_stepdef"/>
      <class name="file_step.searchproduct_stepdef"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
